footer {
    background: url("https://i.ibb.co/q9TQTc1/footer-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0;
}
.footer-group {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.footer-header {
    text-align: left;
    margin-bottom: 20px;
}
footer ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}
footer ul li {
    text-align: left;
    margin-left: -16px;
    line-height: 15px;
}
footer a {
    text-decoration: none;
}
footer .socio-links {
    width: fit-content;
    margin-left: auto;
}
footer .socio-links h3 {
    text-align: right;
    margin-bottom: 15px;
}
footer .socio-links ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 25px;
}
/* footer .socio-links ul li {
    margin-left: auto;
} */
/* footer .socio-links ul li {
    text-align: right;
} */
footer .socio-links svg {
    height: 30px;
    width: auto;
    cursor: pointer;
}
